@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@font-face{
    font-family: baskerville-motivacional;
    src: url(./assets/fonts/LibreBaskerville-Regular.ttf);
}

html {
    background-color: black;
}

div {
    width: 50%;
    margin: 75px 25%;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1, p {
    color: white;
    font-family: 'Libre Baskerville', baskerville-motivacional, serif;
    text-align: center;
    margin: 5px;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}